.store,
.basket {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: end;
}

.productCard,
.product {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}

.productCard .product-image img {
    height: 400px;
    width: auto;
}